# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.directory
doc/site/*
*.Rhistory
taxonkit/taxonkit*
TODO.md
benchmark/.Rhistory
taxonkit/binaries*
names.dmp
nodes.dmp
merged.dmp
delnodes.dmp
*.json
doc/site
taxonkit/archive
taxonkit/*.gz
test.*
*Rplots.pdf
*.lineage
run_.*out
taxids.n*.txt*
ids.txt
.brename_detail.txt
*.tsv.gz
taxonkit/gtdb.*.tsv
*taxid-changelog.csv*
taxonkit/mgv.*.tsv
taxid.map
mgv.tsv

gtdb-taxdump
ictv.taxonomy.tsv
